:root {
    --color-accent-blue: #0E5ECB;
    --color-accent-orange: #FFA300;
    --color-accent-green: #7A9C49;
    --color-accent-darkgray: #394259;

    --font-stack-primary: 'Montserrat', sans-serif;
}

/* Fonts */

/* montserrat-200 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/montserrat-v25-latin-200.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/montserrat-v25-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/montserrat-v25-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/montserrat-v25-latin-200.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/montserrat-v25-latin-200.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/montserrat-v25-latin-200.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/montserrat-v25-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/montserrat-v25-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/montserrat-v25-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/montserrat-v25-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/montserrat-v25-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/montserrat-v25-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/montserrat-v25-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/montserrat-v25-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/montserrat-v25-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/montserrat-v25-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/montserrat-v25-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/montserrat-v25-latin-800.svg#Montserrat') format('svg');
    /* Legacy iOS */
}
/* Backgrounds */
.even {
    background-color: #eef5fe;
} 

.gray-background { 
    background-color: #fdfefe;
}

.white-background {
    background-color: #ffffff;
}



body,
body * {
    font-family: var(--font-stack-primary);
}

h1 {
    font-weight: 700;
}

a:not(.btn) {
    color: #000000;
    text-decoration: none;
}

.price {
    font-weight: 700;
    font-size: 36px;
}

/* Utilities */

.dark:not(.no-dark) {
    color: #ffffff;
}

.dark.no-dark {
    color: initial;
}

.bg-color-green {
    background-color: var(--color-accent-green);
}

/* Element Styles */

.module {
    position: relative;
    padding: 100px 0;
}


.module.no-padding {
    padding: 0;
}

.module.no-padding-top {
    padding-top: 0;
}

.module.no-padding-bottom {
    padding-bottom: 0;
}

a.btn {
    color: #fff;
    border: 2px solid var(--color-accent-orange);
    text-transform: uppercase;
    font-weight: 800;
    background-color: var(--color-accent-orange);
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 16px;
}

a.btn:hover {
    color: var(--color-accent-orange);
    background-color: transparent;
    border: 2px solid var(--color-accent-orange);
}

a.btn.btn-reverse {
    color: var(--color-accent-orange);
    background-color: transparent;
}

a.btn-reverse:hover {
    color: #ffffff;
    background-color: var(--color-accent-orange);
}

a.btn.btn-cta {
    background: linear-gradient(153.77deg, #FFA300 21.40%, #FF7A00 86.45%);
    box-shadow: 0px 2px 0px #EC5500;
    border-radius: 8px;
    position: relative;
}

a.btn-cta p {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0;
}

.cta-text {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}

.text-red {
    color: red;
}

.announcement {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}

.hero {
    position: relative;
    background-image: url('../assets/img/business-strategy-success-target-goals.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    padding: 50px 0 0;
}

.hero.hero__background--blue::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent-blue);
    opacity: 0.9;
    z-index: -1;
}

.hero h1 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 30px;
}
/*Call to Action*/
span.cta--underline {
    position: relative;
}

span.cta--underline~* {
    display: block;
    margin-top: 15px;
}

.cta--underline::after {
    position: absolute;
    content: '';
    background-image: url('../assets/img/cta-underline.png');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -100%;
    left: 0;
}

.content-box {
    position: relative;
}
/*Video */
.hero__video--offset {
    position: relative;
    width: 100%;
    max-width: 992px;
    margin: -100px auto 130px;
    top: 80px;
}

.content-box--rounded,
.content-box--rounded img {
    width: 100%;
    border-radius: 10px;
}

.content-box--rounded.video>.video-notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 8px 0;
    text-align: center;
    background-color: var(--color-accent-darkgray);
    color: #fff;
    font-weight: 700;
}

.video::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 64px;
    max-height: 64px;
    background-image: url('../assets/img/play-icon.svg');
    transform: translate3d(-50%, -50%, 0);
}

img {
    max-width: 100%;
}
 
/*Product Packages*/


    #packages {
        background: linear-gradient(180deg, rgba(254, 254, 255, 1) 0%, rgba(237, 241, 248, 1) 50%);
        padding-bottom: 6rem;
    }

    #most-popular-desktop {
        top: -3.125rem;
        right: -2.25rem;
    }

    #most-popular-desktop img {
        width: 75%;
    }

    .foundation-header-col {
        border-top: 1px solid #dfdbe0;
        border-left: 1px solid #dfdbe0;
    }

    .elite-header-col {
        -webkit-appearance: none;
        -webkit-box-shadow: 0 -11px 11px rgb(50 50 50 / 10%);
        box-shadow: 0 -11px 11px rgb(50 50 50 / 10%);
    }

    .foundation-header-col,
    .elite-header-col {
        color: #1F1F1F;
        font-size: 2rem;
        font-weight: 800;
        line-height: 2.438rem;
        padding: 2rem;
    }

    .package-col.elite-col,
    .elite-header-col,
    .elite-footer-col {
        position: relative;
    }

    .foundation-col,
    .foundation-footer-col {
        border-left: 1px solid #dfdbe0;
    }

    .package-col.elite-col::before,
    .elite-header-col::before,
    .elite-footer-col::before {
        -webkit-appearance: none;
        -webkit-box-shadow: -15px 0 20px -20px #d2d2d2 inset;
        box-shadow: -15px 0 20px -20px #d2d2d2 inset;
        content: " ";
        height: 100%;
        left: -1.25rem;
        position: absolute;
        top: 0;
        width: 1.25rem;
    }

    .package-col.elite-col::after,
    .elite-header-col::after,
    .elite-footer-col::after {
        -webkit-appearance: none;
        -webkit-box-shadow: 15px 0 20px -20px #d2d2d2 inset;
        box-shadow: 15px 0 20px -20px #d2d2d2 inset;
        content: " ";
        height: 100%;
        position: absolute;
        top: 0;
        right: -1.25rem;
        width: 1.25rem;
    }

    .description {
        font-size: 1.125rem;
        padding: 1rem 1.25rem;
    }
/* PopUp Modal */
    .modal-content {
        background-color: #ffffff !important;
        color: #394259;
        font-size: 1rem;
        text-align: center;
        position: relative;
    }
    
    .modal .btn {
        display: block;
        margin: 0.938rem auto 0 auto;
    }
    
    .modal-title {
        font-weight: 700;
    }
    
    #important {
        font-size: 1.4rem;
        margin-top: 2.5rem;
    }
    
    .modal-content p {
        padding: 0.25rem;
        font-size: 0.9rem;
    }
    
    .modal-content .btn {
        font-size: 1rem;
        font-weight: 700;
    }
    
    #nothanks {
        font-weight: 600;
    }

    #close-modal {
        background: transparent;
        border: none;
        margin-left: auto;
        outline: none;
        width: 3.15rem;
    }
    
    #close-modal span {
    position: absolute;
    top: -0.6rem;
    right: -0.19rem;
    color: red;
    font-weight: 450;
    font-size: 1.46rem;
    padding: 5px 10px;
    border: none;
    }
    
    
    
    .row.footer h2 {
        font-size: 2.25rem;
        margin: 0.5rem 0;
    }

    .regular {
        font-size: 1.25rem;
        line-height: 2.85rem;
        margin: 0.5rem 0 0 0;
        padding-top: 1rem;
    }

    .row.footer a {
        border: 2px solid #CD8505;
        font-size: 1.375rem;
        padding: 0.938rem 1.25rem;
    }

    .foundation-footer-col {
        background-color: #F4F7FB;
        border-bottom: 1px solid #dfdbe0;
    }

    .elite-footer-col {
        box-shadow: 0 4px 13px rgb(50 50 50 / 10%);
    }

    #packages {
        padding: 1rem 0;
    }
    
    .packages-mobile {
        padding: 0.75rem;
    }
    
    .packages-col {
        color: #394259;
        font-size: 1.15rem;
        line-height: 2rem;
        padding: 1rem;
    }
    
    .packages-col strong {
        color: #000;
    }
    
    .foundation-mobile-col,
    .elite-mobile-col {
        color: #000;
        font-size: 1.875rem;
        font-weight: 800;
        line-height: 2.313rem;
    }
    
    .elite {
        font-size: 1.35rem;
    }
    
    .regular {
        font-size: 1.1rem;
        line-height: 1.85rem;
        margin-bottom: 2rem;
    }
    
    .elite-arrow {
        margin-right: 5%;
    }
    
    .row.footer h2 {
        color: #000;
        font-size: 3rem;
        font-weight: 700;
        line-height: 4.5rem;
    }
    
    .row.footer a {
        
        border: 1px solid;
        font-size: 1.395rem;
        padding: 1.25rem 5.25rem;
    }
    
    .savings {
        padding: 1rem 0;
    }
    
    .most-popular {
        margin-left: 0;
        width: 18.75rem;
    }
    
    


span.checkmark,
span.crossmark {
    position: absolute;
}

span.checkmark::after,
span.crossmark::after {
    content: '';
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
}

span.checkmark::after {
    background-image: url('../assets/img/check.png');
}

span.crossmark::after {
    background-image: url('../assets/img/cross.png');
}

.popular-choice,
.popular-choice-alt {
    position: relative;
}

.popular-choice::after,
.popular-choice-alt::after {
    background-repeat: no-repeat;
    background-size: contain;
}

.popular-choice::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(75%, -50%, 0);
    width: 145px;
    height: 145px;
    background-image: url(/assets/img/most-popular.png);
}

.popular-choice-alt::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(75px, -90%, 0);
    width: 145px;
    height: 145px;
    background-image: url(/assets/img/most-popular-alt.png);
}

footer {
    background-color: #fff;
    border-top: 1px solid var(--bs-border-color);
    padding-top: 30px;
}

footer * {
    text-align: center;
    font-size: 12px;
}

footer [class^='col-'] {
    margin-bottom: 30px;
}

footer>[class^="col-"]:first-child span {
    display: block;
    margin-bottom: 10px;
}

/* Breakpoints */
@media (max-width: 767px) {


    .announcement {
        font-size: 14px;
    }

    .hero {
        padding: 50px 0 0;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero h1 span.h1--subtext {
        font-size: 18px;
        display: block;
    }

    .hero__video--offset {
        margin: -100px auto 130px;
        top: 80px;
    }

    .col-lg-8 img{
        display: none;
    }



    .row-even {
        background-color: #eef5fe;
    } 

    .price {
        font-size: 18px;
    }

    #modal {
        width: 50%;
    }

    footer {
        margin-top: 0;
        padding: 1rem 0;
    }

}

@media (min-width: 768px) {
    .announcement {
        font-size: 16px;
    }

    .hero {
        padding: 100px 0 0;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h1 span.h1--subtext {
        font-size: 36px;
        display: block;
    }

    .price {
        font-size: 28px;
    }

    .popular-choice::after {
        transform: translate3d(75%, -65%, 0);
    }

    .btn-cta:not(.no-arrows)::before,
    .btn-cta:not(.no-arrows)::after {
        content: '';
        position: absolute;
        top: 30%;
        width: 50px;
        height: 50px;
        background-size: 100%;
        background-repeat: no-repeat;
        pointer-events: none;
        transform: translateY(-50%);
    }

    .btn-cta:not(.no-arrows)::before {
        content: '';
        left: -20%;
        background-image: url(/assets/img/cta-arrow-right.png);
    }

    .btn-cta:not(.no-arrows)::after {
        right: -20%;
        background-image: url(/assets/img/cta-arrow-left.png);
    }

    .row.footer h2 {
        font-size: 2.25rem;
        margin: 0.5rem 0;
    }

    .regular {
        font-size: 1.25rem;
        line-height: 2.85rem;
        margin: 0.5rem 0 0 0;
        padding-top: 1rem;
    }

    .row.footer a {
        border: 2px solid #CD8505;
        font-size: 1.375rem;
        padding: 0.938rem 1.25rem;
    }

    .foundation-footer-col {
        background-color: #F4F7FB;
        border-bottom: 1px solid #dfdbe0;
    }

    .elite-footer-col {
        box-shadow: 0 4px 13px rgb(50 50 50 / 10%);
    }

}

@media (min-width: 992px) {
    .announcement {
        font-size: 18px;
    }

    .hero {
        padding: 100px 0 0;
    }

    .hero h1 {
        font-size: 60px;
    }

    .hero h1 span.h1--subtext {
        font-size: 36px;
        display: block;
    }
}